In [45]:
import sqlite3
import csv
import json
import sqlparse
#import needed packages to work on this requirements
#then we connect the sql using of sqllit3 package to connect sql and using CURD operation to required file formet 
class PhoneBookManager:
    def __init__(self, db_file):
        self.conn = sqlite3.connect(db_file)
        self.create_table()

    def create_table(self):
        query = '''
        CREATE TABLE IF NOT EXISTS phonebooks (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            Name TEXT,
            Email TEXT,
            Phone1 NUMBER,
            Phone2 NUMBER
        )
        '''
        self.conn.execute(query)
        self.conn.commit()

    def read_from_csv(self, csv_file):
        with open(csv_file, 'r') as file:
            reader = csv.DictReader(file)
            for row in reader:
                self.insert_record(row['Name'], row['Email'], row['Phone1'], row['Phone2'])


    def insert_record(self, name, email, phone1, phone2):
        query = '''
        INSERT INTO phonebooks (Name, Email, Phone1, Phone2)
        VALUES (?, ?, ?, ?)
        '''
        self.conn.execute(query, (name, email, phone1, phone2))
        self.conn.commit()

    def execute_query(self, query):
        cursor = self.conn.execute(query)
        result = cursor.fetchall()
        for row in result:
            print(row)
        return result

    def close_connection(self):
        self.conn.close()

# then used the function with get the required data on the sql level
if __name__ == "__main__":
    phone_book_manager = PhoneBookManager("phone_book.db")

    # Reading from CSV file
    phone_book_manager.read_from_csv(r"C:\Users\Lenovo\Downloads\Phonebooks.csv")

  
    
    #phone_book_manager.execute_query("DELETE FROM phone;")--- its using for only test perpose
    #queries as per the requirements
    re1=phone_book_manager.execute_query("SELECT * FROM phonebooks;")
    print(re1)#this print statement get the records from phonebooks table in sql
    re2=phone_book_manager.execute_query("SELECT * FROM phonebooks WHERE Name='Doe';")
    print(re2)#this print statement get the records from phonebooks where name was Doe
    phone_book_manager.execute_query("INSERT INTO phonebooks (Name, Email, Phone1, Phone2) "
                                     "VALUES ('Test', 'test@test.xyz', '1234456', '1233233');")#this print statement update the phonebooks table in sql with new record
    re3=phone_book_manager.execute_query("SELECT * FROM phonebooks;")
    print(re3)#this print statement verify to the new record is running successful or not
    phone_book_manager.execute_query("DELETE FROM phonebooks WHERE Name='Smith';")
    #this print statement Remove the record from phonebooks where name was Smith
    re4=phone_book_manager.execute_query("SELECT * FROM phonebooks;")
    print(re4)#this print statement verify to the Remove record is running successful or not
    phone_book_manager.close_connection()

(1, 'Doe', 'john.doe@example.com', 1234567890, 9876543210)
(2, 'Smith', 'jane.smith@example.com', 2345678901, 8765432109)
(3, 'Johnson', 'bob.johnson@example.com', 3456789012, 7654321098)
(4, 'Williams', 'alice.williams@example.com', 4567890123, 6543210987)
(5, 'Davis', 'eva.davis@example.com', 5678901234, 5432109876)
(6, 'Brown', 'michael.brown@example.com', 6789012345, 4321008765)
(7, 'Wilson', 'sara.wilson@example.com', 7890123456, 3210987654)
(8, 'Taylor', 'david.taylor@example.com', 8901234567, 2109876543)
(9, 'Miller', 'emily.miller@example.com', 9012345678, 1098765432)
(10, 'Anderson', 'chris.anderson@example.com', 123456789, 9876543210)
[(1, 'Doe', 'john.doe@example.com', 1234567890, 9876543210), (2, 'Smith', 'jane.smith@example.com', 2345678901, 8765432109), (3, 'Johnson', 'bob.johnson@example.com', 3456789012, 7654321098), (4, 'Williams', 'alice.williams@example.com', 4567890123, 6543210987), (5, 'Davis', 'eva.davis@example.com', 5678901234, 5432109876), (6, 'Brown', 'michael.brown@example.com', 6789012345, 4321008765), (7, 'Wilson', 'sara.wilson@example.com', 7890123456, 3210987654), (8, 'Taylor', 'david.taylor@example.com', 8901234567, 2109876543), (9, 'Miller', 'emily.miller@example.com', 9012345678, 1098765432), (10, 'Anderson', 'chris.anderson@example.com', 123456789, 9876543210)]
(1, 'Doe', 'john.doe@example.com', 1234567890, 9876543210)
[(1, 'Doe', 'john.doe@example.com', 1234567890, 9876543210)]
[]
(1, 'Doe', 'john.doe@example.com', 1234567890, 9876543210)
(2, 'Smith', 'jane.smith@example.com', 2345678901, 8765432109)
(3, 'Johnson', 'bob.johnson@example.com', 3456789012, 7654321098)
(4, 'Williams', 'alice.williams@example.com', 4567890123, 6543210987)
(5, 'Davis', 'eva.davis@example.com', 5678901234, 5432109876)
(6, 'Brown', 'michael.brown@example.com', 6789012345, 4321008765)
(7, 'Wilson', 'sara.wilson@example.com', 7890123456, 3210987654)
(8, 'Taylor', 'david.taylor@example.com', 8901234567, 2109876543)
(9, 'Miller', 'emily.miller@example.com', 9012345678, 1098765432)
(10, 'Anderson', 'chris.anderson@example.com', 123456789, 9876543210)
(11, 'Test', 'test@test.xyz', 1234456, 1233233)
[(1, 'Doe', 'john.doe@example.com', 1234567890, 9876543210), (2, 'Smith', 'jane.smith@example.com', 2345678901, 8765432109), (3, 'Johnson', 'bob.johnson@example.com', 3456789012, 7654321098), (4, 'Williams', 'alice.williams@example.com', 4567890123, 6543210987), (5, 'Davis', 'eva.davis@example.com', 5678901234, 5432109876), (6, 'Brown', 'michael.brown@example.com', 6789012345, 4321008765), (7, 'Wilson', 'sara.wilson@example.com', 7890123456, 3210987654), (8, 'Taylor', 'david.taylor@example.com', 8901234567, 2109876543), (9, 'Miller', 'emily.miller@example.com', 9012345678, 1098765432), (10, 'Anderson', 'chris.anderson@example.com', 123456789, 9876543210), (11, 'Test', 'test@test.xyz', 1234456, 1233233)]
[]
(1, 'Doe', 'john.doe@example.com', 1234567890, 9876543210)
(3, 'Johnson', 'bob.johnson@example.com', 3456789012, 7654321098)
(4, 'Williams', 'alice.williams@example.com', 4567890123, 6543210987)
(5, 'Davis', 'eva.davis@example.com', 5678901234, 5432109876)
(6, 'Brown', 'michael.brown@example.com', 6789012345, 4321008765)
(7, 'Wilson', 'sara.wilson@example.com', 7890123456, 3210987654)
(8, 'Taylor', 'david.taylor@example.com', 8901234567, 2109876543)
(9, 'Miller', 'emily.miller@example.com', 9012345678, 1098765432)
(10, 'Anderson', 'chris.anderson@example.com', 123456789, 9876543210)
(11, 'Test', 'test@test.xyz', 1234456, 1233233)
[(1, 'Doe', 'john.doe@example.com', 1234567890, 9876543210), (3, 'Johnson', 'bob.johnson@example.com', 3456789012, 7654321098), (4, 'Williams', 'alice.williams@example.com', 4567890123, 6543210987), (5, 'Davis', 'eva.davis@example.com', 5678901234, 5432109876), (6, 'Brown', 'michael.brown@example.com', 6789012345, 4321008765), (7, 'Wilson', 'sara.wilson@example.com', 7890123456, 3210987654), (8, 'Taylor', 'david.taylor@example.com', 8901234567, 2109876543), (9, 'Miller', 'emily.miller@example.com', 9012345678, 1098765432), (10, 'Anderson', 'chris.anderson@example.com', 123456789, 9876543210), (11, 'Test', 'test@test.xyz', 1234456, 1233233)]
None

In [48]:
re1

[(1, 'Doe', 'john.doe@example.com', 1234567890, 9876543210),
 (2, 'Smith', 'jane.smith@example.com', 2345678901, 8765432109),
 (3, 'Johnson', 'bob.johnson@example.com', 3456789012, 7654321098),
 (4, 'Williams', 'alice.williams@example.com', 4567890123, 6543210987),
 (5, 'Davis', 'eva.davis@example.com', 5678901234, 5432109876),
 (6, 'Brown', 'michael.brown@example.com', 6789012345, 4321008765),
 (7, 'Wilson', 'sara.wilson@example.com', 7890123456, 3210987654),
 (8, 'Taylor', 'david.taylor@example.com', 8901234567, 2109876543),
 (9, 'Miller', 'emily.miller@example.com', 9012345678, 1098765432),
 (10, 'Anderson', 'chris.anderson@example.com', 123456789, 9876543210)]

In [49]:
re2

[(1, 'Doe', 'john.doe@example.com', 1234567890, 9876543210)]

In [53]:
re3

[]

In [51]:
re41

[(1, 'Doe', 'john.doe@example.com', 1234567890, 9876543210),
 (3, 'Johnson', 'bob.johnson@example.com', 3456789012, 7654321098),
 (4, 'Williams', 'alice.williams@example.com', 4567890123, 6543210987),
 (5, 'Davis', 'eva.davis@example.com', 5678901234, 5432109876),
 (6, 'Brown', 'michael.brown@example.com', 6789012345, 4321008765),
 (7, 'Wilson', 'sara.wilson@example.com', 7890123456, 3210987654),
 (8, 'Taylor', 'david.taylor@example.com', 8901234567, 2109876543),
 (9, 'Miller', 'emily.miller@example.com', 9012345678, 1098765432),
 (10, 'Anderson', 'chris.anderson@example.com', 123456789, 9876543210),
 (11, 'Test', 'test@test.xyz', 1234456, 1233233)]